/* Shop.module.css */

.shopLayout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: var(--space-4);
  background: var(--color-bg-app);
  min-height: 100vh;
}

.grid {
  display: grid;
  padding: var(--space-6);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-6);
  align-content: start;
}
